<div class="modal" v-bind:class="{ 'is-active': activeStatus }">
    <div class="modal-background" @click="closeModal"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Modal title</p>
            <button class="delete" aria-label="close" @click="closeModal"></button>
        </header>
        <section class="modal-card-body">
            <h4 class="subtitle is-5 has-text-danger" v-if="valid === false">THERE CURRENTLY ISN'T AN ACCOUNT WITH THAT COMBINATION</h4>
            <div class="field">
                <p class="control has-icons-left has-icons-right">
                    <input v-model="userName" class="input" type="text" placeholder="username">
                    <span class="icon is-small is-left">
                      <i class="fas fa-user-alt"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field" v-if="valid === false">
                <p class="control has-icons-left has-icons-right">
                    <input v-model="email" class="input" type="email" placeholder="email">
                    <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                      <i class="fas fa-check"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control has-icons-left">
                    <input v-model="password" class="input" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
            <div class="field" v-if="valid === false">
                <p class="control has-icons-left">
                    <input v-model="confirmPassword" class="input" type="password" placeholder="Confirm Password">
                    <span class="icon is-small is-left">
                      <i class="fas fa-lock"></i>
                    </span>
                </p>
            </div>
        </section>
        <footer class="modal-card-foot has-text-left">
            <button class="button is-success" @click="captureForm({userName, password, email})">SIGN IN</button>
            <button class="button is-warning" v-if="valid === false" @click="registerUser({userName, password, email, confirmPassword})">REGISTER</button>
            <button class="button is-danger" @click="closeModal">CANCEL</button>
        </footer>
    </div>
</div>
